/* styles.css */

.logo{
    flex:1 0 50%;
    position:relative;
    height:5px;
    padding:0%;
    margin-top:-22%;
}

.logo img{
    width:100%;
    height:5%;
    position:relative;
}

.menu-btn{
    flex:1 0 30%;
    position:relative;
    margin-top:0%;
}

.cart-btn{
    flex:1 0 15%;
    position:flex-end;
}

.nav-cont{
    position:relative;
    display:flex;
    max-width:100%;
    max-height:15%;
    justify-content:space-between;
}
/* Navbar styling */
.navbar {
    background-color:white!important;  /* Navbar background color */
    padding: 5px;  /* Padding around navbar items */
    height: 12vh;
    display:flex;
    position:relative;
}

.navbar-nav {
    display: flex;  /* Use flexbox for navbar items */
    justify-content: flex-end; /* Align items to the right */
    list-style: none;  /* Remove default list styling */
    margin: 0;  /* Remove default margin */

}
.navbar li{
    display:inline-block;  /* Make links behave like inline elements */
    
}
.navbar ul{
    text-align:right;
}
.navbar-brand img {
    padding-left: 0;
    margin: 0;
    float: left; 
}

.nav-item {
    margin-right: 15px;  /* Space between navbar items */
    text-align: right;
}

.nav-link {
    color:rgb(203, 44, 8);  /* Navbar link text color */
    text-decoration: none;  /* Remove underline from links */
    transition: color 0.3s ease;  /* Smooth color transition on hover */
}

.nav-link:hover {
    color:yellow;  /* Change link color on hover */


/* Responsive Styles for Mobile */
@media (max-width: 760px) {
    .navbar-nav {
        justify-content: flex-start; /* Align items to the left for mobile */
    }

    .navbar-brand {
        font-size: 25px; /* Reduce font size for mobile */
    }

    .navbar-collapse {
        display: none; /* Hide collapsed menu by default */
    }

    .navbar-toggler {
        display: block; /* Show navbar toggler for mobile */
    }

    .navbar-expand-lg .navbar-collapse {
        flex-basis: 100%; /* Expand navbar for mobile */
        display: flex !important; /* Show collapsed menu when toggled */
    }

    .navbar-nav {
        flex-direction: column; /* Stack navbar links vertically for mobile */
    }

    .nav-item {
        margin: 5px 0; /* Adjust margin for mobile */
    }
}
}

body{
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.card-img-top{
    position:relative;
    width:100%;
    height: 100%;
    
}


#product.row{
    margin-bottom: 20px;
    background:  #f5f5f5; 
}
.main{
    position: relative;
    top: -300px;
}



.btn-secondary{
    background-color:white;
    font: bold;
    font-size: 10px;
    color:black;
    font-weight:900;
    font-size: larger; 
    padding: 0.5%;   
}
.card-text{
    color:black;
    font: bold;
    font-size: 20px;
    font-weight:900;
}
.card-title{
    color:black;
    font: bolder;
    font-size: larger;
    font-weight: 500;
}

.btn-warning{
    background-color: green;
    border-radius: 5px;
}

.btn-warning a:hover{
    color:#F397D6;

    background-color: #f0f0f0;
    padding: 20px;
}
.design{
    background-color: whitesmoke;
    font-style:italic;
    color:black;
    font-weight: 500;
    
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}
.container-D {
    display: flex;
    justify-content: space-between;
}

.hours, .location, .menu, .contact {
    flex: 0;
}

.hours h3, .location h3, .menu h3, .contact h3 {
    margin-bottom: 30px;
}

.hours pre, .location pre, .menu pre, .contact pre {
    margin: 20px;
}

.hours pre b, .location pre b, .menu a, .contact b {
    display: block;
}

.contact b img {
    vertical-align: center;
}
.try{
    font-style:italic;
    color:black;
    font-weight: 500;

}
.try{
    font-style:italic;
    color:black;
    font-weight: 500;
}


.login{
    text-align: center;
    font-size: 500;
}
body {
    font-family: Arial, sans-serif; /* Change the font family */
}


/* Add space between elements */
.login {
    margin-top: 50px; /* Adjust as needed */
    border: 1px solid #ccc; /* Add border to the login container */
    border-radius: 5px; /* Add border radius */
    padding: 20px; /* Add padding */
    width: 100%; /* Set width */
    max-width: 400px; /* Set maximum width */
    margin: 0 auto; /* Center horizontally */
    color:white,
}

.login form {
    margin-top: 30px; /* Adjust as needed */
}

.login form p {
    margin-bottom: 10px; /* Adjust as needed */
    color:#f0f0f0; /* Change the color of the text */
    border-radius: 20px;
}

.login form input[type="text"],
.login form input[type="password"] {
    margin-bottom: 30px; /* Adjust as needed */
    border-radius: 10px; /* Make the input boxes round */
    padding: 8px; /* Add padding for better appearance */
}

/* Change login button color */
.log {
    background-color: #4CAF50; /* Change the button background color */
    color: white; /* Change the button text color */
    border: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}

.log:hover {
    background-color: #45a049; /* Change the button background color on hover */
    cursor: pointer;
}
.navbar {
    z-index: 1000; /* Ensures the navbar is above other elements */
    position:fixed;
    width:100%;
    top: 0px;
    
}

.container {
    padding-top: 0px; /* Adjust according to navbar height */
    
}






/* Optional: Adjust styles for better appearance */
.navbar {
    background-color: #007B46; /* Change background color if needed */
   /* box-shadow: 0px 2px 5px rgba(0,0,0,0.1);  Add shadow */
}

.cardcard-sm {
    background-color: #fff; /* Change background color if needed */
    border-radius: 20px;  /*Round the corners */
    /*box-shadow: 0px 2px 5px rgba(0,0,0,0.1); Add shadow */
    top:20px;
    

}
/*sign up page*/
.signup {
    text-align: center; /* Center the content horizontally */
    color:#f0f0f0;
    border-radius: 20px;
    border: #45a049;
}

.signup .row {
    display: flex; /* Use flexbox for the row */
    justify-content: center; /* Center the content horizontally */
}

.signup form {
    width: 100%; /* Set the form width */
    max-width: 400px; /* Set the maximum width for better readability */
    text-align: left; /* Align the text to the left */
    border: 1px solid #ccc; /* Add border to the form */
    border-radius: 5px; /* Add border radius to the form */
    padding: 20px; /* Add padding to the form */
}


.signup form .col-md-6 {
    flex: 0 0 auto; /* Make the column width auto */
    margin: 0 10px; /* Add margin to the columns */
}

.signup form button {
    display: block; /* Make the button a block element */
    margin: 20px auto; /* Center the button horizontally with some margin */
    border:white;
    border-radius: 20px;
    cursor: pointer;
    background-color: #45a049;
}
.signup form input[type="text"],
    .signup form input[type="email"],
    .signup form input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid,green; /* Add border */
        border-radius: 20px; /* Add border radius */
        box-sizing: border-box;
}
.navbar-nav {
        margin-left: auto; /* Aligns the navbar to the left */
}
    
.navbar-nav  {
        color: rgb(220, 10, 10); /* Default color for the links */
}
    
.navbar-nav:hoover {
        color: yellow; /* Color when hovered */
}
/*adding css to the registration form*/
.reg {
    text-align: center; /* Center align the content */
    border-radius: 20px; /* Add border radius */
    border: 2px solid #ccc; /* Add border */
    padding: 20px; /* Add padding */
    width: 50%; /* Set width */
    margin: 0 auto; /* Center horizontally */
    color: white;
}
.reg form {
    border-radius: 20px; /* Add border radius to the form */
    
    padding: 20px; /* Add padding to the form */
    display: inline-block; /* Display the form as inline-block */
}

.reg .register {
    background-color: #f0ad4e; /* Change button background color */
    color:white; /* Change button text color */
    background-color: green;
    border: none; /* Remove default button border */
    border-radius: 20px; /* Add border radius to the button */
    padding: 10px 20px; /* Add padding to the button */
    font-size: 16px; /* Adjust font size */
    cursor: pointer; /* Add pointer cursor on hover */
}

.reg .register:hover {
    background-color: #ec971f; /* Change button background color on hover */
}
.reg form input[type="text"],
.reg form input[type="email"],
.reg form input[type="password"] 
.reg_form textarea{
    border-radius: 20px; /* Add border radius to the input fields */
    padding: 10px; /* Add padding to the input fields */
    margin-bottom: 10px; /* Add margin bottom to create spacing between fields */
    border: 1px solid #ccc; /* Add border to the input fields */
}
/*adding css to the add to product page*/
.product {
    text-align: center; /* Center align the content */
    border-radius: 20px; /* Add border radius */
    border: 2px solid #ccc; /* Add border */
    padding: 20px; /* Add padding */
    width: 50%; /* Set width */
    margin: 0 auto; /* Center horizontally */
    color: white;
}
.product form {
    border-radius: 20px; /* Add border radius to the form */
    
    padding: 20px; /* Add padding to the form */
    display: inline-block; /* Display the form as inline-block */
}

.product .add {
    background-color: #f0ad4e; /* Change button background color */
    color:white; /* Change button text color */
    background-color: green;
    border: none; /* Remove default button border */
    border-radius: 20px; /* Add border radius to the button */
    padding: 10px 20px; /* Add padding to the button */
    font-size: 16px; /* Adjust font size */
    cursor: pointer; /* Add pointer cursor on hover */
}

.product .add:hover {
    background-color: #ec971f; /* Change button background color on hover */
}
.product form input[type="text"],
.product form input[type="email"],
.product form input[type="password"]
.product-form textarea {
    border-radius: 20px; /* Add border radius to the input fields */
    padding: 10px; /* Add padding to the input fields */
    margin-bottom: 10px; /* Add margin bottom to create spacing between fields */
    border: 1px solid #ccc; /* Add border to the input fields */
}


.footer {
    padding-top: 30px; /* Reduce top padding */
    padding-bottom: 30px; /* Reduce bottom padding */
}

.footer h3 {
    font-size: 1.5rem; /* Reduce heading font size */
}

.footer b {
    font-size: 1rem; /* Reduce text font size */
}
 

/* style.css */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #8b1662;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    padding: 10px 8px;
    text-decoration: none;
    font-size: 18px;
    color: #12a84e;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

@media screen and (max-width: 600px) {
    .sidenav {
        width: 100%;
        padding-top: 15px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        font-size: 16px;
    }
}


.main {
    margin-left: 250px; /* Same as sidenav width */
    padding: 20px;
}

.card {
    width: 100%;
    background-color: #f8f9fa; /* Change as needed */
}

.card-header {
    background-color: #910d70;
    color: white;
}

.card-body {
    padding: 20px;
}

.card-body ul {
    list-style-type: none;
    padding: 0;
}

.card-body ul li {
    margin-bottom: 10px;
}


