{% extends 'Connectify/base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>BizHive Business Platform</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{static 'assets/favicon.ico'}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{static 'Connectify/style.css'}" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <header>

                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">BUSINESS</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/"><b>HOME</b></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'Connectify:about_us' %}"><b>ABOUT US</b></a>
                            </li class="nav-item">
                    
                               
                                {% if user.is_authenticated %}
                              <a class="nav-link" href="{% url 'Registerbusiness:business_home' %}"><b>LOGOUT</b></a>
                              <a class="nav-link" href="{% url 'Registerbusiness:dashboard' %}"><b>DASHBOARD</b></a>
                              
                          {% else %}
                          <a  class="nav-link" href="{% url 'Registerbusiness:business_owner_login' %}?next=/business/manage/"><b>LOGIN</b></a>
            
                                
                          {% endif %}
                            
                            
                           
                            
                            
                            
                            <!-- Add dropdown for product categories -->
                            
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- Header-->
            <header class="bg-success py-5" style="background-color: #043922;">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">Start Growing Your Business with Connectify</h1>
                                <p class="lead fw-normal text-white-50 mb-4">Registering your business with Connectify opens doors to various benefits. Enjoy increased online visibility, reach a broader customer base, manage transactions seamlessly, and get personalized marketing opportunities. Join us today and experience the difference!</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'Registerbusiness:register_business' %}">Register Your Business</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                            <img class="img-fluid rounded-3 my-5" src="https://www.shutterstock.com/image-photo/smiling-afroamerican-businessman-holding-hands-600nw-1414318694.jpg" alt="A businessman smiling and holding hands" />
                        </div>
                    </div>
                </div>
            </header>
            
            <!-- Features section-->
            <section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <h2 class="fw-bolder mb-0">An optimal approach to start building with Connectify.</h2>
                        </div>
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-warning bg-gradient text-white rounded-3 mb-3">
                                        <i class="bi bi-shop"></i>
                                    </div>
                                    <h2 class="h5">Sell and Advertise Your Products With Us</h2>
                                    <p class="mb-0">
                                        Unlock the power of our ecommerce platform, Connectify, to effortlessly sell and advertise your products. With Connectify, reaching your target audience has never been easier. Seamlessly showcase your products to a global audience, tap into personalized advertising opportunities, and watch your sales soar. Let Connectify be your trusted partner in growing your business online. Join us today and elevate your brand's presence in the digital marketplace.
                                    </p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-warning bg-gradient text-white rounded-3 mb-3">
                                        <i class="bi bi-briefcase"></i>
                                    </div>
                                    <h2 class="h5">Advertise Your Services With Us</h2>
                                    <p class="mb-0">
                                        Promote your services effectively with Connectify, your ultimate destination for advertising success. Whether you offer professional expertise, creative solutions, or specialized services, Connectify provides the ideal platform to showcase your offerings to a diverse audience. Harness the power of targeted advertising, personalized marketing strategies, and seamless client engagement to elevate your service business to new heights. Join Connectify today and unlock unparalleled opportunities to connect with potential clients and expand your reach.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- Testimonial section-->
            <div class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">"Celebrating my journey with Connectify has been nothing short of remarkable. As a business owner navigating the digital landscape, I've found their platform to be an indispensable ally. From streamlining my sales process to amplifying my brand's reach, BizHive has exceeded my expectations. Their intuitive interface and robust features have empowered me to connect with customers effortlessly, driving unparalleled growth for my business. With Connectify, success isn't just a possibility; it's a reality. Thank you for revolutionizing my online venture!"</div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <img class="rounded-circle me-3" src="https://i.pinimg.com/originals/21/ae/2d/21ae2d8d656bb7caa91b557f013de423.png" alt="..." style="width: 30px; height: 30px;" />

                                    <div class="fw-bold">
                                        RACHEAL
                                        <span class="fw-bold text-primary mx-1">/</span>
                                         CEO, Racheal Computers
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </main>
    
    
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{static 'js/scripts.js'}"></script>
    </body>
</html>
{% endblock %}