<!-- dashboard.html -->





{% block content %}
{% load static %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'Connectify/style.css' %}">
    <style>
        /* Additional CSS for responsiveness */
        @media (max-width: 768px) {
            .sidenav {
                width: 100%;
                position: relative;
            }
            .main {
                margin-left: 0;
            }
        }
    </style>
</head>
<body>
    <!-- Side Panel Navigation -->
    <div class="sidenav">
        <a href="#">HOME</a>
        <a href="{% url 'Connectify:about_us' %}">ABOUT US</a>
        <a href="{% url 'Connectify:category' %}">VIEW CATEGORIES</a>
        {% if user.is_authenticated %}
            <a href="{% url 'Connectify:logout' %}">LOGOUT</a>
        {% else %}
            <a href="{% url 'Registerbusiness:business_owner_login' %}?next=/business/manage/">LOGIN</a>
        {% endif %}
        <a href="{% url 'Registerbusiness:add_product' %}">ADD PRODUCT</a>
    </div>
    
    <!-- Page Content -->
    <div class="main">
        <!-- Header -->
        <header class="bg-success py-4" style="background-color: #007B46;">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-1 fw-bolder" style="font-size: 3rem;">Welcome to</h1>
                    <h1 class="display-1 fw-bolder" style="font-size: 3rem;">your Dashboard</h1>
                    <p class="lead fw-normal text-white-50 mb-0" style="font-size: 1.5rem;">Where all your shopping dreams are fulfilled</p>
                </div>
            </div>
        </header>
        
        <!-- Main Content -->
        <main class="container mt-4">
            <!-- Account Information Card -->
            <div class="card mb-4">
                <div class="card-header bg-info text-white">
                    Account Information
                </div>
                <div class="card-body">
                    <p>Name: {{ user.username }}</p>
                    <p>Email: {{ user.email }}</p>
                    <p>Phone: {{ user.phone }}</p>
                </div>
            </div>
            
            <!-- Statistics Card -->
            <div class="card mb-4">
                <div class="card-header bg-info text-white">
                    Statistics
                </div>
                <div class="card-body">
                    <p>Total Sales: UGX{{ total_sales }}</p>
                    <p>Number of Orders: {{ num_orders }}</p>
                    <p>Top Selling Products:</p>
                    <ul>
                        {% for product in top_selling_products %}
                            <li>{{ product.name }} - {{ product.units_sold }} units</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            
            <!-- Recent Orders Card -->
            <div class="card mb-4">
                <div class="card-header bg-info text-white">
                    Recent Orders
                </div>
                <div class="card-body">
                    <ul>
                        {% for order in recent_orders %}
                            <li>Order #{{ order.order_number }} - {{ order.product.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </main>
    </div>
 </body> 
 <script>
    // Array of background image URLs
    var backgroundImageUrls = [
        "https://img.freepik.com/premium-photo/shopping-bags-brown-background_934652-2196.jpg",
        "https://as2.ftcdn.net/v2/jpg/03/12/43/13/1000_F_312431352_FCkZ5r0gRzUcS7GyvsRtnxECfXv6EKsJ.jpg",
        "https://png.pngtree.com/background/20230819/original/pngtree-eco-friendly-brown-shopping-bags-with-leaf-shadow-on-green-background-picture-image_4735897.jpg"
        // Add more image URLs as needed
    ];

    var currentImageIndex = 0; // Index of the currently displayed image

    // Function to change the background image
    function changeBackgroundImage() {
        // Increment the current image index
        currentImageIndex = (currentImageIndex + 1) % backgroundImageUrls.length;

        // Get the body element
        var body = document.body;

        // Change the background image
        body.style.backgroundImage = "url('" + backgroundImageUrls[currentImageIndex] + "')";

        // Call the function recursively after a certain interval (e.g., every 10 seconds)
        setTimeout(changeBackgroundImage, 10000); // Change image every 10 seconds (10000 milliseconds)
    }

    // Call the changeBackgroundImage function to start changing the background
    changeBackgroundImage();
</script>     
<footer class="py-5 bg-success" style="background-color: #033d24;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-lg-0">
                <div class="hours">
                    <h3><b>OFFICE HOURS</b></h3>
                    <pre class="try">   
                        <b>MONDAY: 7am-11pm</b>
                        <b>TUESDAY: 7am-11pm</b>
                        <b>WEDNESDAY: 7am-11pm</b>
                        <b>THURSDAY: 7am-11pm</b>
                        <b>FRIDAY: 7am-11pm</b>
                        <b>SATURDAY: 7am-8pm</b>
                        <b>SUNDAY: 7am-7pm</b>
                    </pre>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-lg-0">
                <div class="location">
                    <h3><b>LOCATION</b></h3>
                    <pre class="try">
                        <b>KAMPALA UGANDA</b>
                        <b>BUILDING: HAM TOWERS</b>
                        <b>ROOM NUMBER: R45</b>
                        <b>MAKERERE HILL ROAD, KAMPALA</b>
                    </pre>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 mb-4 mb-lg-0">
                <div class="menu">
                    <h3><b>MENU</b></h3>
                    <a class="nav-link active" aria-current="page" href="{% url 'Connectify:index' %}"><b>HOME</b></a>
                    <a class="nav-link" href="{% url 'Connectify:logout' %}"><b>LOGOUT</b></a>
                    <a class="nav-link" href="{% url 'Connectify:login' %}"><b>LOGIN</b></a>
                    <a class="nav-link" href="{% url 'Connectify:register' %}"><b>SIGNUP</b></a>
                    <a class="nav-link" href="{% url 'Connectify:about_us' %}"><b>ABOUT US</b></a>
                    <a href="{% url 'Connectify:category' %}" class="nav-link"><b>CATEGORIES</b></a>
                    
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="contact text-center">
                    <h3><b>CONTACT US</b></h3>
                    <b><img src="https://i.pinimg.com/originals/84/4e/8c/844e8cd4ab26c82286238471f0e5a901.png" width="30px" height="30px"> PHONE NUMBER: +256773820218</b><br>
                    <b><img src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/112-gmail_email_mail-512.png" width="30px" height="30px"> EMAIL: connectifybusinessplatform@gmail.com</b><br>
                    <b><img src="https://pngimg.com/d/facebook_logos_PNG19750.png" width="30px" height="30px"> connectify</b><br>
                    <b><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" width="30px" height="30px"> connectify</b><br>
                    <b><img src="https://www.edigitalagency.com.au/wp-content/uploads/new-Twitter-logo-x-black-png.png" width="30px" height="30px"> @connectify</b><br>
                    <b><img src="https://static.vecteezy.com/system/resources/previews/018/930/463/original/tiktok-logo-tikok-icon-transparent-tikok-app-logo-free-png.png" width="30px" height="30px"> @connectify</b><br>
                    <b><img src="https://png.pngtree.com/png-clipart/20221019/original/pngtree-whatsapp-icon-png-image_8704827.png" width="30px" height="30px"> +256704499826</b>
                </div>
            </div>
        </div>
    </div>
  </footer>
  </html>
  {% endblock content %}
  
  
      
        