<!-- logout.html -->



{% block title %}Logout{% endblock %}

{% block content %}
    <h1>Logout</h1>
    <p>You have been logged out successfully.</p>
    <p>Click <a href="{% url 'Connectify:index' %}">here</a> to return to the home page.</p>
{% endblock %}
