.image-container{
     position:relative;

}
.image-list{
    display:flex;
    box-shadow:var(--box-shadow);
}

:root{
    --box-shadow: 0 0.5rem 1rem rgba(255,255,255,0.1);
}

.image-item{
    min-width:100%;
    height: 600px;
    transition: transform 0.3s;    
}

.image-item img {
    width:100% !important;
    height:auto !important;
}
.image-slider {
    position: relative;
    width: 100%;
    height: 400px; /* adjust to your needs */
    overflow: hidden;
  }
  
  .image-slider img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
  }
  
  