{% extends 'Connectify/base.html' %}

{% block content %}

<br><br><br><br><br>
<body>
    <div class="container">
        <div class="about">
            <header class="header">
                <h2>About Connectify Ecommerce Business Platform</h2>
            </header>

            <div class="section">
                <h2>Who We Are</h2>
                <p>We are Connectify Ecommerce, a platform that helps businesses sell their products online. Think of us as a digital store where you can set up your own shop and reach customers all over the world.</p>
            </div>

            <div class="section">
                <h2>What We Do</h2>
                <p>We make it easy for businesses to have their own online store. You can customize how your store looks, accept payments from customers, manage your inventory, and even ship orders to your customers.</p>
            </div>

            <div class="section">
                <h2>Our Story</h2>
                <p>We started Connectify Ecommerce to make it simple for businesses, big and small, to sell online. Since February 2024, we've been helping businesses grow and reach more customers by providing tools and support for their online stores.</p>
            </div>

            <div class="section">
                <h2>Why Choose Us</h2>
                <ul>
                    <li><strong>Easy to use:</strong> Our platform is designed to be user-friendly, so you don't need to be a tech expert to sell online.</li>
                    <li><strong>Help when you need it:</strong> Our team is here to assist you every step of the way, from setting up your store to growing your sales.</li>
                    <li><strong>Reach a bigger audience:</strong> With an online store, you can sell to people anywhere, not just in your local area.</li>
                    <li><strong>Secure and reliable:</strong> We ensure that your store is safe and that transactions are secure for you and your customers.</li>
                </ul>
            </div>

            <div class="section">
                <h2>JOIN US</h2>
                <p>Whether you're just starting or looking to expand your business online, Connectify Ecommerce is here to help. Start selling online and connect with customers in a whole new way!</p>
            </div>
        </div>
    </div>
</body>
<br><br>
{% endblock %}
