


{% block content %}
        <!-- Header-->
        <header class="bg-success py-5" style="background-color: #007B46;">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shopping Cart</h1>
                    <p class="lead fw-normal text-white-50 mb-0">View Your Cart...</p>
                </div>
            </div>
        </header>
        <body>
        <div class="container">
        {% if cart_products %}
            {% for product in cart_products %}
            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{ product.image }}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <center>
                      <h5 class="card-title">{{ product.name }}</h5>
                      <br/>
                      <p class="card-text justified">{{ product.description }}</p>
                      
                      {% if product.is_sale %}
                      <div class="d-flex justify-content-center small text-warning mb-2">
                              <div class="bi-star-fill"></div>
                              &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                              <div class="bi-star-fill"></div>
                              </div>
              
                              <!-- Product price-->
                              <strike>
                              UGX {{ product.price }}
                              </strike>
                              &nbsp;
                              UGX {{ product.sale_price }}
              
              
              
                      {% else %}
                          UGX {{ product.price }}
                          
                      {% endif %}
                          <br/><br/>
                          <div class="row justify-content-center">
                            <div class="col-md-2">Quantity: </div>
                            <div class="col-md-2">
                           <select class="form-select form-select-sm" id="select{{ product.id}}">
                            
                              {% for key, value in quantities.items %}
                                 {% if key == product.id|slugify %}
                              <option selected>{{ value }}</option>
                                 {% endif %}
                              {% endfor %}
                            <option value="1">1</option>  
                             <option value="2">2</option>  
                             <option value="3">3</option>  
                             <option value="4">4</option>  
                             <option value="5">5</option>  
                           </select>
                           </div>
                          </div>
                          <br/><br/>
                      <a href="{% url 'home'%}" class="btn btn-secondary">Home</a>
                      <button type="button" data-index="{{ product.id }}"
                      class="btn btn-secondary update-cart">Update</button>
                      <button type="button" data-index="{{ product.id }}"
                      class="btn btn-danger delete-product">Remove</button>
              
                  </center>
                    </div>
                  </div>
                </div>
              </div>            
            {% endfor %}
            <h3>Total: UGX {{ totals }}</h3>
            <br/><br/><br/><br/>
        {% else %}
        <br/>
        There is Nothing in Your Cart......
        <br/><br/><br/><br/>
        {% endif %}

        </div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <script>
        // Function to load and display cart items from localStorage
        function loadCartItems() {
            let cartItems = localStorage.getItem('cart') ? JSON.parse(localStorage.getItem('cart')) : {};
        
            // Get the element where cart items will be displayed
            let itemList = document.getElementById('item-list');
        
            // Clear existing items in the list
            itemList.innerHTML = '';
        
            // Loop through cart items and add them to the list
            for (let productId in cartItems) {
                let item = cartItems[productId];
                let itemName = item[1];
                let itemQuantity = item[0];
        
                let itemString = `<li class="list-group-item">${itemName} - ${itemQuantity}</li>`;
                itemList.insertAdjacentHTML('beforeend', itemString);
            }
        }
        
        // Call loadCartItems when the page loads to display cart items
        document.addEventListener('DOMContentLoaded', loadCartItems);
        </script>
        
    </body>
<script>
// Update Cart

{% endblock %}