{% extends 'Connectify/base.html' %}
{% block content %}
<br><br><br><br><br><br>
<body>
    <div class="container">
        <h1>Categories</h1>
        <div class="row">
            {% for category in categories %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ category.image_url }}" class="card-img-top" alt="{{ category.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ category.name }}</h5>
                            <a href="{% url 'Connectify:category_products' category.id %}" class="btn btn-primary">View Products</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
{% endblock %}
