{% extends 'Connectify/base.html' %}
{% block content %}
<body>
    <div class="container">
        <h1>{{ category.name }}</h1>
        <div class="row">
            {% for product in products %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ product.image }}" class="card-img-top" alt="{{ product.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.title }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="card-text">
                                    UGX {{ product.price }}
                                </div>
                                <a href="/{{ product.id }}" class="btn btn-warning">View</a>
                                &nbsp;&nbsp;
                                <button id="{{ product.id }}" class="btn atc btn-warning">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}

