

{% load static %}

 
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Connectify/style.css' %}">
    
      <title>Checkout</title>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        
             <ul class="list-group" id ="item_">
               
                   
              </ul>
           
         </div>
       </div>
     <div class="row">
       <div class="col-md-12">
         <form method="POST" style="color: white;text-align:center">
          {% csrf_token %}
          <!-- Payment Details -->
          <h2>Payment Details</h2>
          <label for="payment_method">Payment Method:</label>
          <select id="payment_method" name="payment_method">
              <option value="credit_card">Credit Card</option>
              <option value="debit_card">Debit Card</option>
              <option value="mobile_money">Airtel Money</option>
              <option value="mobile_money">MTN Momo Pay</option>
              <option value="paypal">PayPal</option>
          </select><br>
  
          <label for="card_number">Card Number:</label>
          <input type="text" id="card_number" name="card_number"><br>
  
          <label for="expiry_date">Expiry Date:</label>
          <input type="text" id="expiry_date" name="expiry_date"><br>
  
          <!-- Address Details -->
          <h2>Shipping Address</h2>
          <label for="address_line1">Address Line 1:</label>
          <input type="text" id="address_line1" name="address_line1"><br>
  
          <label for="address_line2">Address Line 2:</label>
          <input type="text" id="address_line2" name="address_line2"><br>
  
          <label for="city">City:</label>
          <input type="text" id="city" name="city"><br>
  
          <label for="state">State:</label>
          <input type="text" id="state" name="state"><br>
  
          <label for="postal_code">Postal Code:</label>
          <input type="text" id="postal_code" name="postal_code"><br>
  
          <label for="country">Country:</label>
          <input type="text" id="country" name="country"><br>
  
          <input type="submit" value="Place Order">
      </form>
    </div>
  </div>
</div>
</body>
</html>
  
<script type="text/javascript">
  
  // Initialize cart variable
let cart = localStorage.getItem('cart') ? JSON.parse(localStorage.getItem('cart')) : {};

// Iterate over cart items
Object.keys(cart).forEach(function(item) {
    // Get the quantity and name of the item
    let quantity = cart[item][0];
    let name = cart[item][1];
    
    // Create the string for the list item
    let itemString = '<li class="list-group-item">${name} - ${quantity}</li>';
    
    // Append the list item to the item-list element
    $('#item-list').append(itemString);
    
    console.log('This is working');
});

  
  
</script>
<script>
  // Array of background image URLs
  var backgroundImageUrls = [
      "https://img.freepik.com/premium-photo/shopping-bags-brown-background_934652-2196.jpg",
      "https://img.freepik.com/premium-photo/brown-leather-shopping-bag-brown-background_921026-12318.jpg",
      "https://png.pngtree.com/background/20230819/original/pngtree-eco-friendly-brown-shopping-bags-with-leaf-shadow-on-green-background-picture-image_4735897.jpg",
      "https://previews.123rf.com/images/kurhan/kurhan1510/kurhan151001204/46515714-grocery-shopping-cart-with-vegetables-over-green-background.jpg",
      "https://png.pngtree.com/thumb_back/fw800/background/20231004/pngtree-vibrant-3d-illustration-of-a-red-shopping-bag-on-a-red-image_13541544.png",
      // Add more image URLs as needed
  ];

  var currentImageIndex = 0; // Index of the currently displayed image

  // Function to change the background image
  function changeBackgroundImage() {
      // Increment the current image index
      currentImageIndex = (currentImageIndex + 1) % backgroundImageUrls.length;

      // Get the body element
      var body = document.body;

      // Change the background image
      body.style.backgroundImage = "url('" + backgroundImageUrls[currentImageIndex] + "')";

      // Call the function recursively after a certain interval (e.g., every 10 seconds)
      setTimeout(changeBackgroundImage, 2500); // Change image every 10 seconds (10000 milliseconds)
  }

  // Call the changeBackgroundImage function to start changing the background
  changeBackgroundImage();
</script><hr>
