
{% block content%}
<style>
        /* Custom styles */
        .product-image {
            max-height: 300px; /* Adjust height as needed */
            object-fit: contain; /* Preserve aspect ratio */
        }
        .discounted-price {
            color: red;
        }
        .actual-price {
            text-decoration: line-through;
        }
        .btn-group {
            margin-top: 20px;
        }
        .discount-percentage {
            color: green;
        }
        /* Additional styles for button alignment */
        .btn-container {
            display: flex;
            justify-content: space-between;
        }
        /* Sale badge styles */
        .sale-badge {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #f8d7da; /* Bootstrap's text-danger color */
            background-color: #721c24; /* Bootstrap's bg-danger color */
            padding: 5px 10px;
            border-radius: 5px;
        }
        body{
            text-align:center;
            
        }
        .btn-primary{
            background-color: green;
            color:white;
            cursor: pointer;
            border: 10px 10px 10px;
            text-decoration: none;
            border-radius: 5px 5px;
        }
        .btn-primary:hover{
            background-color: brown;
        }

        #submit-btn{
            border: 2px solid black;
            padding:1%;
            color: green;
            font-weight:bold;
            background-color:blanchedalmond;
        }

        #submit-btn:hover{
            background-color: black;
            color:white;
        }

        .review{
            display:flex;
            width:50%;
            margin-left: 25%;
            margin-right: 25%;
            border: 2px solid black;
            box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
            transition:transform 0.2s ease-in;
        }

        .review:hover{
            transform: translateY(-10%);
        }

        .rev-cont{
            flex:0.75;
        }

        .rev-user{
            flex:0.25;
        }

        h2{
            text-transform: uppercase;
            text-decoration: underline;
        }

    </style>
</head>
<body>
    <b><div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ product_object.image }}" class="img-fluid product-image" alt="Product Image">
        </div>
        <div class="col-md-6">
            <h2>{{ product_object.title }}</h2>
            {% if product_object.discount_price %}
                <div class="sale-badge">
                    Sale!
                </div>
                <p class="actual-price">Price: UGX{{ product_object.price }}</p>
                <p class="discounted-price">Discount Price: UGX{{ product_object.discount_price }}</p>
                {% if discount_percentage %}
                    <p class="discount-percentage">Discount Percentage: {{ discount_percentage }}%</p>
                {% endif %}
            {% else %}
                <p>Price: UGX{{ product_object.price }}</p>
            {% endif %}
            <hr>
            <p>{{ product_object.description }}</p>

            <div class="btn-container">
                <div>
                    <b><button type="button" class="btn btn-primary">Add to Cart</button></b>
                </div>
                <div>
                    <b><a href="{% url 'Connectify:index' %}" class="btn btn-primary">Back to Home</a></b>
                </div>
            </div>

            <h1>Review for {{ product_object.title }}</h1>
            <form method="POST">
                {% csrf_token %}
                {{ review_form.as_p }}<br>
                <button type="submit" id="submit-btn">Submit Review</button>
            </form>
            <h2>Previous Reviews</h2>
            {% for review in reviews %}
                <div class="review">
                    <div class="rev-cont">
                        {{ review.user.username }} <br>
                        <p>{{ review.review}}</p>
                    </div>
                    <div class="rev-user">
                        <p>Rating: {{ review.rating }}</p>
                        <p>({{ review.date_created }})</p>
                    </div>
                </div> <br>

            {% empty %}
                <p>No reviews yet.</p>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-h0AbiXch4TTPY6cpCzVrZ3k+oDVPQuZuI/hoAfK/xUx4tw6jFjGz5gT0M4lQ5eU6" crossorigin="anonymous"></script></b></body>
{% endblock %}
