
{% extends 'Connectify/base.html' %}
{% block content %}
{% load static %}


<body>
    <header class="bg-failure py-4" style="background-color:rgb(28, 128, 0);">
        <div class="container px-4 px-lg-5 my-5">
            
            <div class="text-center text-white">
                <h1 class="display-1 fw-bolder" style="font-size: 3rem ;">Welcome to</h1>
                <h1 class="display-1 fw-bolder" style="font-size: 3rem;">Connectify</h1>
                <p class="lead fw-normal text-white-50 mb-0" style="font-size: 1.5rem;">Where all your shopping dreams are fulfilled</p>
            </div>

            <div class ="container">
                <div class="row">
                    <form class="col-md-12">
                        <div class="cardcard-sm">
                           <div class="card-body row no-gutters align items-center">
                               <div class="col">
                                  <input type="search" name="item_name" placeholder="search for products" class="form-control form-control">
                               </div>

                               <div class="col-auto">
                                   <button class="btn btn-success" type="submit">search</button>
                               </div>
                            </div>
                        </div>
                    </form>           
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="image-container">
            <div class="image-list">
                <div class="image-item">
                    <img src="https://m.media-amazon.com/images/I/61zAjw4bqPL._SX3000_.jpg" id="slide"/>
                </div>
            </div>
        </div>
    </section>

   <br>
   <br>
   <br>
   <div class="container" >
    <div class="row" id="products">
        {% for product in product_objects %}
        <div class="col-md-3 mb-4"> <!-- Added mb-4 for spacing -->
            <div class="card">
                <img src="{{product.image}}" class="card-img-top">
                <div class="card-body">
                    <div id="nm{{product.id}}" class="card-title">
                        {{product.title}}
                    </div>
                    <div class="card-text">
                       UGX {{product.price}}
                    </div>
                    <a href="/{{product.id}}" class="btn btn-warning">view</a>
                    <a href="{% url 'Connectify:view_businesses' product.id %}" class="btn btn-info">View Businesses</a>
                    <button id="{{product.id}}" class="btn atc btn-warning">Add to cart</button>
                </div>
            </div>
        </div>
        {% endfor %}
        <!--Adding pagination to display a limited number on a single web page-->
        <div class="row">
            <div class="col-mid-3 offset-md-4">
                <ul class="pagination">
                    {% if product_objects.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ product_objects.previus_page_number }}">previous</a>
                        </li>
                    {% endif %}
            
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ product_objects.number }}">current</a>
                    </li>
                
                    {% if product_objects.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ product_objects.next_page_number }}">Next</a>
                        </li>
                        
                    {% endif %}
                </ul>
            </div>
        </div>
</div>

    
   
</body><br><br>




<script>
    let index=0;
    const slides=["https://m.media-amazon.com/images/I/61zAjw4bqPL._SX3000_.jpg",
    "https://m.media-amazon.com/images/I/61CiqVTRBEL._SX3000_.jpg",
    "https://m.media-amazon.com/images/I/81KkrQWEHIL._SX3000_.jpg",
    "https://m.media-amazon.com/images/I/71Ie3JXGfVL._SX3000_.jpg",

    ];
    function changeSlide(){
        let imgElement=document.getElementById('slide');
        if(imgElement){
            imgElement.src=slides[index];
            index=(index+1)%slides.length;
        }else{
            console.error('Image not found');
        }
    };
    setInterval(changeSlide,3000);
    
</script>

  <!--
    MAKING THE FUNCTIONING OF THE ADD TO CART BUTTON
-->
<script type="text/javascript">
    console.log('This working');
    
    var cart; // Declaring cart variable outside the if-else scope
    console.log("The add to cart button is clicked");
    if(localStorage.getItem('cart') === null){
        cart = {}; // Setting cart to an empty object if it's null
    }
    
    else{
        cart = JSON.parse(localStorage.getItem('cart'));
    }

    $(document).on('click','.atc',function(){
        console.log("The add to cart button is clicked");
        //So we need to extract the button id of the clicked item
        var item_id = this.id.toString();
        console.log(item_id);
        if (cart[item_id] != undefined){
            cart[item_id] = cart[item_id] + 1;
        }
        else{
            cart[item_id] = 1;
        }
        console.log(cart);
        localStorage.setItem('cart', JSON.stringify(cart));
        
        //document.getElementById('cart').innerHTML = Object.keys(cart).length;
        document.getElementById("cart").innerHTML= "Cart(" + Object.keys(cart).length + ")";
         // Correcting syntax error here
    });
    //Displaying products in the cart whenever they are added to the cart
Displaycart(cart);
    function Displaycart(cart){
        var cartString ="";
        cartString += "<h5>This is your cart</h5>" ;
 //we are looping through the cart and we are appending those values in the x
        var cartindex = 1;
        for(var x in cart){
            cartString += cartindex;
            cartString += document.getElementById("nm"+x).innerHTML + "Qty:"+cart[x] + "</br>";
            cartindex +=1;
        } 
        cartString += "<a href='/checkout'><button class='btn-warning' id='checkout'>Checkout</button></a>";
 //enabling the popover button to work
        document.getElementById("cart").setAttribute('data-content', cartString);
        $('[data-toggle="popover"]').popover();
        
    }
</script>
<script>
    // Initialize Bootstrap dropdowns
    $(document).ready(function() {
        $('.dropdown-toggle').dropdown();
    });
</script>

{% endblock %}