{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Connectify/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="signup">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br></br>
                <form method="POST" action="{% url 'Connectify:register' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br></br>
           
           <button type="submit" class="Sign">Sign Up</button>
                </form>
                <br></br>
                <br></br>
            </div>
        </div>
    </div>
</body>
<script>
    // Array of background image URLs
    var backgroundImageUrls = [
        "https://img.freepik.com/premium-photo/shopping-bags-brown-background_934652-2196.jpg",
        "https://img.freepik.com/premium-photo/brown-leather-shopping-bag-brown-background_921026-12318.jpg",
        "https://png.pngtree.com/background/20230819/original/pngtree-eco-friendly-brown-shopping-bags-with-leaf-shadow-on-green-background-picture-image_4735897.jpg",
        "https://previews.123rf.com/images/kurhan/kurhan1510/kurhan151001204/46515714-grocery-shopping-cart-with-vegetables-over-green-background.jpg",
        "https://png.pngtree.com/thumb_back/fw800/background/20231004/pngtree-vibrant-3d-illustration-of-a-red-shopping-bag-on-a-red-image_13541544.png",
        // Add more image URLs as needed
    ];

    var currentImageIndex = 0; // Index of the currently displayed image

    // Function to change the background image
    function changeBackgroundImage() {
        // Increment the current image index
        currentImageIndex = (currentImageIndex + 1) % backgroundImageUrls.length;

        // Get the body element
        var body = document.body;

        // Change the background image
        body.style.backgroundImage = "url('" + backgroundImageUrls[currentImageIndex] + "')";

        // Call the function recursively after a certain interval (e.g., every 10 seconds)
        setTimeout(changeBackgroundImage, 2500); // Change image every 10 seconds (10000 milliseconds)
    }

    // Call the changeBackgroundImage function to start changing the background
    changeBackgroundImage();
</script><hr>
<footer class="py-5 bg-success" style="background-color: #033d24;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 mb-4 mb-lg-0">
                <div class="location">
                    <h3><b>LOCATION</b></h3>
                    <p><b>KAMPALA UGANDA</b></p>
                    <p><b>BUILDING: HAM TOWERS, ROOM R45</b></p>
                    <p><b>MAKERERE HILL ROAD, KAMPALA</b></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 mb-4 mb-lg-0">
                <div class="menu">
                    <h3><b>MENU</b></h3>
                    <a class="nav-link active" aria-current="page" href="{% url 'Connectify:index' %}"><b>HOME</b></a>
                    <a class="nav-link" href="{% url 'Connectify:logout' %}"><b>LOGOUT</b></a>
                    <a class="nav-link" href="{% url 'Connectify:login' %}"><b>LOGIN</b></a>
                    <a class="nav-link" href="{% url 'Connectify:register' %}"><b>SIGNUP</b></a>
                    <a class="nav-link" href="{% url 'Connectify:about_us' %}"><b>ABOUT US</b></a>
                    <a href="{% url 'Connectify:category' %}" class="nav-link"><b>CATEGORIES</b></a>
                    <a href="{% url 'Registerbusiness:business_home' %}" class="nav-link"><b>REGISTER YOUR BUSINESS</b></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="row">
                    <div class="col-md-12 mb-4 mb-lg-0">
                        <div class="contact text-center">
                            <h3><b>CONTACT US</b></h3>
                            <p><b><img src="https://i.pinimg.com/originals/84/4e/8c/844e8cd4ab26c82286238471f0e5a901.png" width="30px" height="30px"> +256772022047</b></p>
                            <p><b><img src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/112-gmail_email_mail-512.png" width="30px" height="30px"> connectifybusinessplatform@gmail.com</b></p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="social-media text-center">
                            <b><img src="https://pngimg.com/d/facebook_logos_PNG19750.png" width="30px" height="30px">@Connectify</b>
                            <b><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" width="30px" height="30px">@Connectify</b>
                            <b><img src="https://www.edigitalagency.com.au/wp-content/uploads/new-Twitter-logo-x-black-png.png" width="30px" height="30px">@Connectify</b>
                            <b><img src="https://static.vecteezy.com/system/resources/previews/018/930/463/original/tiktok-logo-tikok-icon-transparent-tikok-app-logo-free-png.png" width="30px" height="30px"> @Connectify</b>
                            <b><img src="https://png.pngtree.com/png-clipart/20221019/original/pngtree-whatsapp-icon-png-image_8704827.png" width="30px" height="30px">0772022047</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

</html>
