{% extends 'Connectify/base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <br>
    <br>
    <h1 class="mt-5 mb-4">Businesses Dealing with Products in Category "{{ category }}"</h1>
    <div class="row">
        {% for business in businesses %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">{{ business.name }}</h1>
                    <p class="card-text">{{ business.description }}</p>
                    <p class="card-text">Contact Email: {{ business.contact_email }}</p>
                    <p class="card-text">Contact Phone: {{ business.contact_phone }}</p>
                    <p class="card-text">Contact Info: {{ business.contact_info }}</p>
                    <h6 class="card-subtitle mb-2 text-muted">Products:</h6>
                    <ul class="list-group list-group-flush">
                        {% for product in business.business_products.all %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4">
                                    
                                    <img src="{{ product.image.url }}" class="img-fluid rounded" alt="Product Image">
                                </div>
                                <div class="col-md-8">
                                    <h6>{{ product.name }}</h6>
                                    <p>Price: {{ product.price }}</p>
                                    <button class="btn btn-primary btn-sm add-to-cart-btn" data-product-id="{{ product.id }}">Add to Cart</button>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
